html {
  height: 100vh;
  width: 100vw;
}

body {
  /* height: 40vh; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #041832;
  gap: 10px;
}

h1 {
  color: #BF8422;
}
h2 {
  color: white;
}
.shell {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 150px);
  background-color: #041832;
  justify-content: center;
  gap: 4px;
  margin-right: 48%;
  margin-bottom: 5%;
}

.card {
  background-color: #000000;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #BF8422;
  border-radius: 2px;
}

.selected {
border-color: red;
}

#countdown {
  color: white; 
}

.bigBox {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: left;
  gap: 25px;
}

#outcome {
  font-size: 2rem;
  text-align: right;
  color: white;
}

.win {
  color: red;
}

.lose {
  color: blue;
}